!venv/Lib/
!venv/Lib/site-packages/
!venv/Lib/site-packages/prodigyopt/
/venv

.idea
.python-version
/conda_env*
/debug*
/workspace*
/models*
/training_concepts
/training_presets
/training_samples
/training_user_settings
/external
debug*.py
debug*.ipynb
train.bat
config.json
*.pyc
*.bak
/src
# pixi environments
.pixi
pixi.lock
pixi.toml
*.egg-info
secrets.json
